.box {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box1 {
  background: red;
}
.box2 {
  background: blue;
  position: absolute;
  /* left: 50px; */
  /* right: 0px; */
  top: 0px;
}
.box3 {
  background: green;
}
.content {
  background-color: aqua;
  position: relative;
}
