* {
  font-size: 10px;
  margin: 0px;
  border: 0px;
  box-sizing: border-box;
}
.logo h2 {
  font-size: 3rem;
}
.nav {
  display: flex;
  justify-content: end;
  margin-right: 3rem;
  margin-top: 3rem;
}
.nav li a {
  text-decoration: none;
  color: black;
  font-size: 1.7rem;
}
.nav li {
  font-size: 1.7rem;
}
.nav li a i {
  font-size: 1.5rem;
}
.nav li {
  display: inline-block;
  padding: 0.6rem;
}
header {
  padding: 2rem;
}
.nav_child {
  display: none;
  position: absolute;
  background-color: white;
  width: 20rem;
}
.nav_child:hover {
  display: block;
}
.nav_child ul {
  list-style: none;
}
.dropdown:hover .nav_child {
  display: block;
}
.dropdown {
  position: relative;
}
.nav_child li {
  padding: 1.5rem 2rem;
}

.nav_child li a {
  color: black;
  text-decoration: none;
  font-size: 1.5rem;
}

.nav_child li a:hover {
  color: blue;
}

.content1 {
  background-color: rgb(0, 60, 255);
  color: white;
  height: 20rem;
  display: flex;
  align-items: center;
}
.content1 h3 {
  font-size: 3rem;
}
.content1 p {
  font-size: 2rem;
}
.content1 div {
  margin-left: 20rem;
}
.content2 {
  display: flex;
  justify-content: center;
  margin-top: 7rem;
  margin-bottom: 5rem;
}
.content2 > div {
  width: 50rem;
}
.content2 h4 {
  font-size: 2.5rem;
}
.content2 p {
  font-size: 1.6rem;
}
.content2 .box2 {
  display: flex;
  justify-content: space-around;
  margin-top: 5rem;
}
.content2 .container1 {
  margin-right: 5rem;
}
.content2 .box2 div {
  text-align: center;
}
.content2 .box2 div h2 {
  font-size: 7rem;
  color: blue;
}
.content3 {
  padding-top: 5rem;
  background-color: rgb(248, 245, 245);
  display: flex;
  justify-content: center;
}
.content3 .container1 {
  margin: auto 7rem;
  width: 50rem;
}
.content3 .container1 h2 {
  font-size: 3rem;
  margin-bottom: 3rem;
}
.content3 .container1 .box1 {
  display: flex;
  margin: 3rem 0;
}
.content3 .container1 .box2 {
  display: flex;
  margin: 3rem 0;
}
.content3 .container1 .box3 {
  display: flex;
  margin: 3rem 0;
}
.content3 .container1 h4,
i {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.content3 .container1 p {
  font-size: 1.6rem;
}

footer {
  height: 7rem;
  background-color: black;
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-around;
}
footer p {
  font-size: 1.6rem;
}
