body {
  margin: 0px;
  padding: 0px;
  height: 100vh;
  background: linear-gradient(to bottom, red, green);
  color: aliceblue;
}
.clock-container {
  width: 300px;
  height: 120px;
  border-radius: 10px;
  background-color: rgba(52, 48, 48, 0.347);
  display: flex;
  justify-content: center;
  align-items: center;
}
#clock {
  font-size: 48px;
}
b {
  display: none;
}
